{% extends "base.html" %}
{% load static %}
{% block title %}
Главная
{% endblock title %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<h1>Добро пожаловать</h1>
		<div class="pagination">
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="search">
			<span>Поиск</span>
			<input type="text" class="search-input">
		</div>
		<div class="reg-button">
			<button class="btn reg">Регистрация</button>
			<button class="btn log">Авторизация</button>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="filters">
			<button class="chng">Показать фильтры</button>
			<button class="nchng">Скрыть фильтры</button>
			<select name="filters" id="flt"></select>
			<button class='flt'>Фильтр</button>
			<button class='rflt'>Снять фильтры</button>
			<div class="sorting">
				<button class="ordering">Сортировка</button>
				<select name="ord" id="srt">
					<option value="ascending">По возрастанию</option>
					<option value="descending">По убыванию</option>
{#					<option value="title">По названию</option>#}
					<option value="availability">По наличию</option>
				</select>
		</div>
		</div>
	</div>
    <div class="cart">
        <h2>Корзина</h2>
    </div>
	<div class="row product"></div>
</div>
    <script src="static/js/main_v2.js"></script>
{#<script src="static/js/main.js"></script>#}
{% endblock content %}